/** Variables **/

/** Theme colours **/
$primary-theme-colour: #92B558; 
$secondary-theme-colour: darken($primary-theme-colour, 30%);

/** Footer **/
$footer-theme-colour: darken($primary-theme-colour, 10%);
