<!doctype html>
<html lang="en"> 
   	<head> 
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">	    
	    <meta name="description" content="Calculator to determine the rates to charge as a freelancer">
	    <meta name="author" content="jack lovett">	    
		<title>Freelance Rates</title>    
		<!-- JQuery CDN -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <!-- Bootstrap CDN --> 
	    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
	    <!-- static files -->
	    <link rel="stylesheet" type="text/css" href="css/base.css">
	    <!-- Font -->
	    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
  	</head>  
 	<body>
		<div id="wrapper">
			<div id="header">
				<section class="container">
					<h1>Freelance Rates</h1>
				</section>
			</div>
			{{!base}}
			<div id=footer>
				<section class="footer-container container">
					<p>
						Developed by <span><a href="https://github.com/jacklovett">Jack Lovett</a></span>
					</p>
					<p>
						Last updated: 29th August 2018
					</p> 
				</section>
			</div>
		</div>
	</body>
		
</html>