<form id="inputForm" action="/result" method="POST">
    <div class="form-group">
        <div>
            <label>Salary (pre tax)</label>
        </div>
        <input type="number" name="desired_salary" class="form-control" placeholder="e.g. £35,000"/>
        <p class="notes">What salary are you looking for per year?</p>
    </div>
    <div class="form-group">
        <div>
            <label>Billable hours</label>
        </div> 
        <input type="number" name="billable_hours" class="form-control" placeholder="e.g. 40hours a week"/>
        <p class="notes">What are your billable hours per week?</p>
    </div>
    <div class="form-group">
        <div>
            <label>Time off (in weeks)</label>
        </div>		
        <input type="number" name="time_off" class="form-control" placeholder="e.g. 5 weeks"/>
        <p class="notes">
            How many weeks a year do you predict to be off work?
            <br/>e.g. holidays, sickness and time between gigs.
        </p>
    </div>
    <div class="form-group">
        <label>Do you have a student loan?</label>
        <input type="checkbox" name="plan_toggle" style="margin: 0 20px;" />		
    </div>
    <div class="form-group" id="row" style="display: none;"> 
        <div>
            <label>Which payment plan are you on?</label>
        </div> 
        <div> 
            Plan 1
            <input type="radio" id="plan_1" name="plan_1" />
            Plan 2
            <input type="radio" id="plan_2" name="plan_2" />
        </div> 
    </div>    
    <div class="button-container">	
        <input type="submit" class="button" value="CALCULATE" />
    </div>	
</form> 
<!-- Loaded after the elements are created -->	
<script type="text/javascript" src="js/studentLoanController.js"></script>