<form id="inputForm" action="/result" method="POST">
    <div class="form-group">
        <div>
            <label>Salary (pre tax)</label>
        </div>
        <input type="number" name="desired-salary" class="form-control currency" placeholder="e.g. £40,000"/>
        <p class="notes">What salary are you looking for per year?</p>
    </div>
    <div class="form-group">
        <div>
            <label>Billable hours</label>
        </div> 
        <input type="number" name="billable-hours" class="form-control" placeholder="e.g. 40hours a week"/>
        <p class="notes">What are your billable hours per week?</p>
    </div>
    <div class="form-group">
        <div>
            <label>Time off (in weeks)</label>
        </div>		
        <input type="number" name="time-off" class="form-control" placeholder="e.g. 5 weeks"/>
        <p class="notes">
            How many weeks a year do you predict to be off work?
            <br/>e.g. holidays, sickness and time between gigs.
        </p>
    </div>
    <div class="form-group">
        <label>Do you have a student loan?</label>
        <input type="checkbox" name="has-student-loan" style="margin: 0 20px;" />		
    </div>
    <div class="form-group" id="plan-row" style="display:none;"> 
        <div>
            <label>Which repayment plan are you on? 
                <button type="button" class="info-button" id="plan-info-toggle">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </label>
        </div> 
        <div id="plan-info-row" style="display:none;">
            <p class="notes">
                information about the different plans
            </p>
        </div>
        <div> 
            <span>Plan 1</span>
            <input type="radio" id="plan-1" name="plan-1" />
            <span>Plan 2</span>
            <input type="radio" id="plan-2" name="plan-2" />
        </div> 
    </div>
    <div class="button-container">	
        <input type="submit" class="button" value="CALCULATE" />
    </div>	
</form> 
<!-- Loaded after the elements are created -->	
<script type="text/javascript" src="js/student-loan-controller.js"></script>