% rebase('base.html')
<div id="header">
	<section class="container">
		<h1>Freelance Rates</h1>
	</section>
</div>
<div id="content"> 
	<section class="container intro">
		<h4>
			An easy way to determine how much to charge as a freelancer. 				 
		</h4>
		<p>
			Answer a few quick questions and gain insight into how much you need to charge, 
			how much tax you need to pay and even how much you need to pay for your student loan. 
		</p>
	</section>			
	<section class="container form">
		% include('form.html')		
	</section>	
</div>

